<ion-header [translucent]="true">
  <ion-toolbar color="'#8B0000'">
    <ion-button (click)="loadMap()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
    </ion-button>
    <ion-title slot="end">Google Maps</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">

  <!--We chose to leave this in the background to show what should load if the map lags-->
  <app-explore-container name="Map page"></app-explore-container>


  <!--We set up the class to display the map as the Google Maps API instructs-->
  <div class="map-wrapper">
    <div id="map_center">
    </div>
    <div #map id="map"></div>
  </div>

  <!--A floating action button allows users to file a report about a location if they are logged in-->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="nextpage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
