<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-searchbar (ionInput)="getResults($event)" autocorrect="on"></ion-searchbar>

<ion-list>
  <ion-button expand="full" ion-item *ngFor="let item of results" fill="clear" size="small">
    {{ item['name'] }} <br> {{ item['formatted_address'] }}
  </ion-button>
  <!--<button *ngIf="readyToLoad == true">
    {{ results[0]['formatted_address'] }}
  </button> -->
</ion-list> 

</ion-content>
