<!--This header and content is used if there is a user logged in-->
<ion-header *ngIf="loggedIn" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--When a user is logged in, the user's first name, last name, address, and a 
  log out button are displayed-->
<ion-content *ngIf="loggedIn" [fullscreen]="true">
  <p><b>First Name: </b>{{firstName}}</p>
  <p><b>Last Name: </b>{{lastName}}</p>
  <p><b>Address: </b>{{address}}</p>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin"
      (click)="logOut()">Log Out</ion-button>
  </div>
</ion-content>

<!--This header and content is used when someone is not logged in-->
<ion-header *ngIf="loggedIn === false" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--the user is provided a space to enter their username and password to log in. There is also a 
  link provided to allow a user to register for a new account. There is a button to then log in with
  username and password provided.-->
<ion-content *ngIf="loggedIn === false" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log In Here!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Please log in to get the full Waldo experience.
    </ion-card-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <a href="registration">Don't have an account? Register here!</a>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin"
        (click)="logIn()">Log In</ion-button>
    </div>
  </ion-card>

</ion-content>
